<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PARCEL TRACKING</title>
    </head>
    <body>
        <a href="/">홈</a>
        <br>
        <h1> 택배 정보 detail </h1>
        <h1> {{ send_recieve.ParcelNum }} </h1>
        <h3> {{ send_recieve.Sender_Name }} </h3>
        <h3> {{ send_recieve.Sender_phone }}</h3>
        <h3> {{ send_recieve.Sender_addr }}</h3>
        <h3> {{ send_recieve.Sender_date }} </h3>
        <h3> {{ send_recieve.Reciever_Name }}</h3>
        <h3> {{ send_recieve.Reciever_phone }} </h3>
        <h3> {{ send_recieve.Reciever_addr }} </h3>
    </body>

</html>

